:root {
    --primary: #3C5;
    --secondary: #0A1;
    --ternary: #7F7;
    --accent: #F77;
    --accent-light: #FAA;
    --accent-dark: #F33;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border: 0;
}

#app {
    padding-bottom: 5vh;
}

#app > h1 {
    margin-bottom: 7vh;
    padding: 3vh;
    background-color: var(--primary);
    font-size: 2.5rem;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 3px #000;
}

#fruit_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5vh 5vw;
    margin-top: 10vh;
    padding: 0 15%;
}

.fruit-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    background-color: #FFF;
    box-shadow: 0 3px 5px #0007;
    border-radius: 7px;
}
.fruit-item:hover {
    box-shadow: 0 1px 10px #0009;
}
.fruit-item:hover button {
    background-color: var(--secondary);
    color: #FFF;
}

.fruit-item img {
    width: 100%;
    aspect-ratio: 1.2;
    background-color: var(--ternary);
    border-radius: 7px 7px 0 0;
}

.fruit-item .item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
}

.fruit-item .item-details span {
    display: block;
    padding: 5px 20px;
}
.fruit-item .item-details span:first-of-type {
    padding-left: 10px;
    font-weight: bold;
}

.fruit-item button {
    align-self: center;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: var(--primary);
    border-radius: 0 0 7px 7px;
    font-weight: 600;
    cursor: pointer;
    transition: 400ms;
}

.cart-toggle {
    position: fixed;
    bottom: min(5vmin, 30px);
    left: min(5vmin, 30px);
    width: clamp(5vmax, 75px, 150px);
    aspect-ratio: 1;
    box-sizing: border-box;
    background-color: var(--primary);
    border-radius: 100%;
    cursor: pointer;
}
.cart-toggle:hover {
    background-color: var(--secondary);
}
.cart-toggle::after {
    content: attr(data-count);
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 20px;
    aspect-ratio: 1;
    background-color: var(--accent-dark);
    color: #FFF;
    border-radius: 100%;
    line-height: 20px;
}
.fa-basket-shopping {
    color: #FFF;
    font-size: 2rem;
}

.loader {
    position: fixed;
    top: 40vh;
    left: 50vw;
    width: 100px;
    aspect-ratio: 1;
    transform: translate(-50%);
    box-shadow: 0px 25px 25px var(--primary), 0px -25px 25px var(--accent);
    border-radius: 100%;
    animation: spin 1s infinite linear;
}


@keyframes spin {
    to {
        transform: translate(-50%) rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--accent);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-dark);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-light);
}